__pycache__/
*.pyc
*.pyo
*.sqlite3
*.zip
*.BACKUP*
*.BACKUP_SECURED
db.sqlite3
venv/
.env
banana-source/
staticfiles/
*_BACKUP*
*_SECURED
add_missing.py
base.html
fix_*.py
import_*.py
load_*.py
transfer_*.py
